<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://st.fletx.co:5000/</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>st.fletx.co:5000</key>
			<string></string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Agrandir-GrandHeavy</string>
		<string>big_noodle_titling_oblique</string>
		<string>HurmeGeometricSans3 BlackOblique</string>
		<string>HurmeGeometricSans3 SemiBold</string>
		<string>HurmeGeometricSans3 SemiBoldOblique</string>
		<string>HurmeGeometricSans3</string>
		<string>Roboto-Black</string>
		<string>Roboto-BlackItalic</string>
		<string>Roboto-Bold</string>
		<string>Roboto-BlackItalic</string>
		<string>Roboto-Light</string>
		<string>Robot-LightItalic</string>
		<string>Roboto-Medium</string>
		<string>Roboto-MediumItalic</string>
		<string>Roboto-Regular</string>
		<string>Roboto-Thin</string>
		<string>Roboto-ThinItalic</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>ValidationView</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
